@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

html {
	font-size: 16px;
}

body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
}

body, header, footer,
.container, .top-section, .bottom-section{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.container {
	width: 90%;
	max-width: 1200px;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.9em;
}
h2 {
    font-size: 1.13em;
}
h3 {
	font-size: 1.13em;
}
h4 {
	font-size: .75em;
}

p {
	font-size: .875em;
	line-height: 1.3em;
  padding: 0 1.9em;
}

/*The widths are in a percentage!*/
header h1 {
	width: 80%;
	margin: 0;
	padding: 1em 0;
	border-bottom: 3px solid #77a466;
}
header h1 span {
	color: #77a466;
}

header nav {
	padding: 1em 0;
}
header ul {
	list-style: none;
	padding: 0;
}
header li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .875em;
	padding: .75em 0;
	display: flex;
	justify-content: center;
}
header a {
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.main-image {
	height: auto;
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
	border-top: 3px solid #77a466;
}

.main-title {
	height: auto;
}
.main-title h3 {
	color: #77a466;
}
.main-title p {
	padding: 0;
	line-height: 1.5em;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	height: auto;
	border-top: 1px solid #eee;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: .75em 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.3em;
	padding: 0;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
	padding: 0;
}

/*The widths are in a percentage!*/
footer {
	height: 3em;
	border-top: 3px solid #eee;
	text-align: center;
}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .875em;
}

/* ----------- Tablets larger than 768px wide ----------- */
@media (min-width: 768px) {
	.bottom-section {
		align-items: stretch;
	}

	.section-one,
	.section-two,
	.section-three {
		box-sizing: border-box;
		width: 33%;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		padding: 1em;
	}
	footer {
		border: none;
	}
}

/* ----------- Monitors larger than 1200px wide ----------- */
@media (min-width: 1200px) {
	header {
		width: 100%;
		flex-flow: nowrap;
		justify-content: flex-start;
		align-items: center;
	}

	header h1 {
		width: 50%;
		border: none;
		padding-left: 1em;
	}

	nav {
		width: 50%;
	}

	header ul {
		word-spacing: 1.5em;
	}

	header li {
		display: inline;
	}

	.bottom-section {
		align-items: stretch;
	}

	.section-one,
	.section-two,
	.section-three {
		box-sizing: border-box;
		width: 33.33%;
		height: auto;
		border-top: 1px solid #eee;
	}
	.section-two {
		border-right: 1px solid #eee;
		border-left: 1px solid #eee;
	}

	footer {
		border: none;
	}
}
